@import "./themeHandler.scss";
@import "./constVal.scss";

@mixin scrollbar() {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		border-radius: 14px;
		overflow: hidden;
		@include fill_color("fill2");
	}

	&::-webkit-scrollbar-thumb {
		@include fill_color("fill12");
	}

	&::-webkit-scrollbar-track {
		border-radius: 14px;
	}

	&::-webkit-scrollbar-track-piece {
		border-radius: 14px;
	}

	&::-webkit-scrollbar-button {
		border-radius: 14px;
		height: 0;
		width: 0;
	}
}
